body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.9rem;
}

.text-justify {
  text-align: justify;
}

.text-pale {
  color: #999;
}

dt {
  font-weight: bold;
}

ul {
  list-style: disc inside;
  margin-left: 2%;
}

h1 {
  font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h5 {
  font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

a {
    color: #14ab45;
}

.button.button-primary {
    background-color: #14ab45;
    border-color: #14ab45;
}

.button.button-primary:hover {
  color: #FFF;
  background-color: #3fdb1c;
  border-color: #3fdb1c; }
